.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
        width: 100px;
        margin-bottom: 25px;
      }   
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 800;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .video__comments {
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      margin-bottom: 15px;
      padding-bottom: 10px;
      input {
        margin-top: 25px;
        padding-top: 10px;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .video__commnets-list {
      margin-top: 50px;
      li {
        
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        span {
          width: 100%;
          background: linear-gradient(
            to bottom,
            rgba(101, 101, 114, 0.6) 100%,
            rgba(0, 0, 0, 0.6)
          );
          color: white;
          border-radius: 15px;
          text-align: center;
          padding: 10px;
        }
        button {
          background:transparent;
          padding:10px;
          width: 20%;
          border-radius: 15px;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}
